/*
animation copied from 
https://stackoverflow.com/questions/38772442/css-transition-from-display-none-to-display-block-navigation-with-subnav
*/


input:focus + span {
	visibility: visible;
	opacity: 1;
	transition: opacity 300ms 1.5s, visibility 300ms 1.5s;
}
span {
	opacity: 0;
	visibility: hidden;
	transition: opacity 300ms 0s, visibility 300ms 0s;
}

.div-row input:focus + span + label,
.div-row textarea:focus + span + label {
	visibility: visible;
	opacity: 1;
	transition: opacity 300ms 1.5s, visiblity 300ms 1.5;
}
.div-row label {
	position: absolute;
	top: 5px;
	right: 10px;
	text-align: right;
	opacity: 0;	
	visibility: hidden;	
	transition: opacity 300ms 0s, visibility 300ms 0s;	
}

/*
.hidecopy {
	position: fixed;
	top: 0px;
	cursor: pointer;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1ms 1s, visibility 1ms 1s;
}

.showcopy {
	visibility: visible;
	opacity: 1;
	transition: opacity 1ms 0s, visibility 1ms 0s;
}